---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

//@import "minima";

// google fonts
// @import url(https://fonts.googleapis.com/css?family=Lato|Montserrat:700);
@import url(https://fonts.googleapis.com/css?family=Lato|Titillium+Web:700,900);
/* ---------------------------------- */
// VARIABLES
/* ---------------------------------- */
$main-font: 'Titillium Web', sans-serif;
$second-font: 'Lato', sans-serif;
$color-gray-dark: #555;
$color-gray-light: #f5f5f5;
$color-highlight: #44b9ea;


/* ---------------------------------- */
// CSS RESET
/* ---------------------------------- */

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    // This defines what 1rem is
    font-size: 62.5%; //1 rem = 10px; 10px/16px = 62.5%
}

body {
    box-sizing: border-box;
    font-size: 1.6rem;
    font-family: $second-font;
    color: $color-gray-dark;
    background-color: $color-gray-light;
}

html, body {
    width: 100%;
    height: 100%;
}

a:link,
a:visited {
    text-decoration: none;
    color: $color-highlight;
    transition: all .5s ease;
}

a:hover {
    color: darken($color-highlight, 15%);
}

/* ---------------------------------- */
// GENERAL STUFF
/* ---------------------------------- */
h1, h2, h3, h4, h5, h6 {
    font-family: $main-font;
}

h1 { font-size: 4rem; }
h2 { font-size: 3rem; }
h3 { font-size: 2rem; }
h4 { font-size: 2rem; }
h5 { font-size: 2rem; }
h6 { font-size: 2rem;
    line-height:2.5rem; }

.container {
    min-height: 100%;
    display: grid;
    grid-template-columns: unquote("1fr [content-col-start] minmax(40rem, 120rem) [content-col-end content-end] 1fr");
    grid-template-rows: unquote("[navbar-start] auto [navbar-end content-row-begin] 1fr [content-row-end footer-start] auto [footer-end]");
}

.header {
    grid-column: 1 / 4;
}

.content {
    grid-row: 2 / 3;
    grid-column: 2 / 3;
    background-color: #fff;
    padding: 3rem;
}

.page {
    &__title {
        text-align: center;
        margin-bottom: 3rem;
    }

    &__subtitle {
        text-align: center;
    }
}

.icon {
    &--large {
        width: 20rem;
    }

    &--circle {
        border-radius: 50%;
    }
}

/* ---------------------------------- */
// SPLASH
/* ---------------------------------- */
.splash {
    &__container {
        width: 100vw;
        height: 100vh;
        display: grid;
        grid-template-rows: repeat(3, 1fr);
        grid-template-columns: repeat(3, 1fr);
        align-items: center;
        justify-items: center;
        text-align: center;
        background-color: $color-gray-light;
    }

    &__main {
        grid-row: 2 / 3;
        grid-column: 2 / 3;
    }
}

/* ---------------------------------- */
// HEADER
/* ---------------------------------- */
.header {

    display: grid;
    background-color: $color-gray-dark;
    grid-template-columns: 1fr minmax(40rem, 120rem) 1fr;

    &__container {
        grid-column: 2 / 3;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    &__title {
        display: inline-block;
        align-self: start;
    }

    &__home-link:link,
    &__home-link:visited {
        color: #fff;
        transition: all .5s ease;
    }
}

/* ---------------------------------- */
// NAVIGATION
/* ---------------------------------- */
.nav {
    background-color: $color-gray-dark;
    align-self: right;

    &__list { // ul
        display: flex;
        list-style: none;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: stretch;
    }

    &__item { // li
        flex-grow: 1;
        align-self: stretch;                
        transition: width .3s, right .3s;
        width: 10rem;
    }

    &__link:link,
    &__link:visited {
        padding: 1.5rem;
        text-decoration: none;
        text-transform: uppercase;
        text-align: center;
        display: block;
        font-family: $second-font;
        color: #fff;
    }

    &__link:hover {
        background: $color-highlight;
    }
}

/* ---------------------------------- */
// ABOUT
/* ---------------------------------- */
.about {
    display: flex;
    margin: 4rem 0rem;

    &__description > p {
        margin-bottom: 1rem;
    }

    &__image {
        margin-right: 6rem;
    }
}

/* ---------------------------------- */
// RESUME
/* ---------------------------------- */
.resume {
    &__container {
        display: grid;
        grid-template-columns: 1fr 3fr;
        grid-column-gap: 3rem;
    }

    &__section {
        border-left: 2px dotted $color-highlight;
        padding-left: 4.2rem;
        margin-left: 3.2rem;
        margin-bottom: 3rem;
        position: relative;
    }

    &__title {
        display: flex;
        align-items: center;
    }

    &__icon {
        padding-right: 2rem;
    }

    &__divider {

        display: grid;
        grid-template-columns: 1fr max-content 1fr;
        grid-column-gap: 1.5rem;
        align-items: center;
        
        &::before,
        &::after {
            content: "";
            height: 2px;
            display: block;
            background-color: $color-gray-dark;
        }
    }
}

.skill {
    &__title {

    }

    &__list {
        list-style: none;
        padding-left: 2rem;
        margin-bottom: 1rem;
    }
}

.work {
    margin-bottom: 1.5rem;
    display: flex;
    flex-direction: column;

    &__details {
        display: flex;
        justify-content: space-between;
    }

    &__description {
        text-align: justify;
    }
}



/* ---------------------------------- */
// FOOTER
/* ---------------------------------- */
.footer {
    grid-row: 3 / 3;
    grid-column: 1 / 4;

    padding: 3rem;
    background-color: $color-gray-dark;
    color: #fff;
    text-align: center;

    &__list {
        list-style: none;
        display: flex;
        justify-content: center;
    }

    &__item {
        padding: 1rem;
    }

    &__link:link,
    &__link:visited {
        color: #fff;
        transition: all .5s ease;
    }
}