---
title: Projects
permalink: /projects/
layout: page
---

<div class="projects">
    {% for proj in site.data.projects_detailed %}
    <div class="project">
        <h6>{{proj.name}}</h6>
        <p class="project__tools">{{proj.tools}}</p>
        <p class="project__description">{{proj.description}}</p>
        {% if proj.example %}<p><a href={{proj.example}}>View Running Example</a></p>{% endif %}
        {% if proj.repo %}<a href={{proj.repo}}>View Repo on GitHub</a>{% endif %}
    </div>
    {% endfor %}
</div>

