---
title: Resume
permalink: /resume/
layout: page
---
<p class="page__subtitle">PDF version is available <a href="/assets/CV_XuKatherine_fin.pdf">here</a> for download.</p>
<div class="resume__container">
    <div>
        <div class="resume__title">
            <div class="resume__icon fa-4x">
                <i class="fas fa-graduation-cap" 
                    data-fa-transform="shrink-8" 
                    data-fa-mask="fas fa-circle"></i>
            </div>
            
            <h2>Education</h2>
        </div>
        <div class="resume__section">
            <h6>University of California, Berkeley</h6>
            <p>Bachelor of Arts, Computer Science
            <br/>Class of 2015</p>
        </div>

        <div class="resume__title">
            <div class="resume__icon fa-4x">
                <i class="fas fa-book" 
                    data-fa-transform="shrink-8" 
                    data-fa-mask="fas fa-circle"></i>
            </div>
            
            <h2>Relevant Courses</h2>
        </div>
        <div class="resume__section">
            <ul class="skill__list">
                <li>Data Structures</li>
                <li>Machine Structures</li>
                <li>Discrete Math</li>
                <li>Linear Algebra</li>
                <li>Computer Graphics</li>
                <li>Parallel Software Engineering</li>
                <li>Artificial Intelligence</li>
                <li>UI Design / Android Development</li>
                <li>Networking</li>
            </ul>
        </div>

        <div class="resume__title">
            <div class="resume__icon fa-4x">
                <i class="fas fa-code"
                    data-fa-transform="shrink-8" 
                    data-fa-mask="fas fa-circle"></i>
            </div>
            <h2>Skills</h2>
            
        </div>
        <div class="resume__section">
            <h6 class="skill__title">Proficient</h6>
            <ul class="skill__list">
                <li>Java</li>
                <li>Typescript</li>
                <li>SCSS</li>
                <li>Bootstrap</li>
            </ul>

            <h6 class="skill__title">Prior Experience</h6>
            <ul class="skill__list">
                <li>Python</li>
                <li>Django</li>

                <li>Angular2</li>
                <li>Webpack</li>
                <li>NPM</li>

                <li>Javascript</li>
                <li>jQuery</li>

                <li>C</li>
                <li>C++</li>
                <li>OpenGL</li>

                <li>Android SDK</li>

                <li>PHP</li>
                <li>mySQL</li>

                <li>Git</li>
                <li>Subversion</li>

                <li>Adobe Photoshop</li>
                <li>Adobe Illustrator</li>
            </ul>
        </div>

    </div>

    <div>
        <div class="resume__title">
            <div class="resume__icon fa-4x">
                <i class="fas fa-briefcase"
                    data-fa-transform="shrink-8" 
                    data-fa-mask="fas fa-circle"></i>
            </div>
            <div>
                <h2>Work Experience</h2>
            </div>
        </div>
        <div class="resume__section">
            {% for exp in site.data.work %}
            <div class="work">
                <h6 class="work__role">{{ exp.role }}</h6>
                <div class="work__details">
                    <p class="work__company">{{ exp.company }}</p>
                    <p class="work__dates">{{ exp.dates }}</p>
                </div>
                <p class="work__description">{{ exp.description }}</p>
            </div>
            {% endfor %}
        </div>

        <div class="resume__title">
            <div class="resume__icon fa-4x">
                <i class="fas fa-briefcase"
                    data-fa-transform="shrink-8" 
                    data-fa-mask="fas fa-circle"></i>
            </div>
            <div>
                <h2>Select Projects</h2>
            </div>
        </div>
        <div class="resume__section">
            {% for proj in site.data.projects %}
            <div class="work">
                <h6 class="work__role">{{ proj.name }}</h6>
                <p class="work__tools">{{ proj.tools }}</p>
                <p class="work__description">{{ proj.description }}</p>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

          